.button{
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.button-action{
  border-color: transparent !important;
  color: white!important;
  background-color: #00A780!important;
}

.button-secondary{
  border-color:  #00A780!important;
  color: #00A780!important;
  background-color: #FFFFFF!important;
}

.button-tertiary{
  border-color: transparent!important;
  color: #2B2B35!important;
  background-color: #FFFFFF!important;
  box-shadow:#FFFFFF!important;
}

.button-upgrade{
  border-color: transparent!important;
  color: white!important;
  background-color: #0082FF!important;
}
.button-destructive{
  border-color: transparent!important;
  color: white!important;
  background-color: #EE5C33!important;
}
.button-accent{
  border-color: transparent!important;
  color: #2B2B35!important;
  background-color: #FFC42A!important;
  border-radius: 100px !important;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.button-default-small{
  height: 32px;
  width: 132px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  
}

.button-default-medium{
  width: 154px;
  height: 42px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

}

.button-default-large{
  width: 173px;
  height: 50px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

}

.button-action:hover, .button-action:focus{
  background-color: #14D0A5 !important;
  color: white !important;
}

.button-secondary:hover, .button-secondary:focus{
  background-color: #E4FFF9 !important;
  color: #84a19b !important;
}

.button-tertiary:hover, .button-tertiary:focus{
  background-color: #EDEDED !important;
  color: #2B2B35 !important;
  border-color: transparent !important;
}
.button-upgrade:hover, .button-upgrade:focus{
  background-color: #006CD5 !important;
  color: #E4FFF9 !important;
  border-color: transparent !important;
}

.button-destructive:hover, .button-destructive:focus{
  background-color: #D74B23 !important;
  color: #E4FFF9 !important;
  border-color: transparent !important;
}

.button-accent:hover, .button-accent:focus{
  background-color: #E5B129 !important;
  color: #2B2B35 !important;
  border-color: transparent !important;
}

.ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active{
  color: #FFFFFF;
  background: #D1D1D1;
  border-color: #D1D1D1;
  text-shadow: none;
  box-shadow: none;
}