.button{
  border-color: transparent;
  color: white;
  background-color: #00A780;
}
.button-default-small{
  height: 32px;
  width: 132px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  
}

.button-default-medium{
  width: 154px;
  height: 42px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

}

.button-default-large{
  width: 173px;
  height: 50px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

}

.ant-btn:hover, .ant-btn:focus{
  background-color: #14D0A5;
  color: white;
}