.slidecontainer {
  width: 200px;
}
.ant-slider-step {
  height: 6px;
}
.ant-slider-track {
  position: absolute;
  height: 6px;
  background-color: #0082ff;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.ant-slider-rail {
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.ant-slider-handle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: solid 3px #e0e0e0;
}
.ant-slider:hover .ant-slider-track {
  background-color: #0082ff;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #0082ff;
}
